#Ignore VSCode files
.vscode/*

#Ignore CMake build folder
src/nexus_interface/build/*

#Ignore Colcon build folders
src/nexus_interface/build/*
src/nexus_interface/install/*
src/nexus_interface/log/*

#Ignore log
*.log